* {
  margin: 0;
  padding: 0;
}

.container {
  display: table;
  width: 100%;
}

.aseide {
  display: table-cell;
  width: 50%;
}

.introduce {
  margin: 30px 50px;
}

.profile {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  animation: rolling 6s linear infinite;
  position: relative;
  z-index: 1;
}


.profile:hover {
  cursor: pointer;
  opacity: 0.5;
}

.content {
  display: flex;
  margin-top: 30px;
  line-height: 50px;
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.myself {
  width: 350px;
  height: 450px;
}

.discriton {
  font-size: 20px;
  margin: auto;
}


/* 画面右側の実装 */

.main {
  display: table-cell;
  width: 50%;
  background-color: #ffd700;
}


.circles_list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.like, .skill {
  margin-bottom: 80px;
}


/*円のスタイル*/
.circles_item {
  list-style: none;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(#0e009e, #594AFF);
}


.circles_modal_open {
  height: 100px;
  text-align: center;
}

.circles_image_mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
}

.mask_text {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.circles_modal_content{
  text-align: center;
}

.circles_image:hover .circles_image_mask {
  opacity: 1;
  padding-top: 13%;
}

/* ------circles_modal css------ */
.circles_modal_wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  opacity: 0;
  z-index: -1;
}

/*モーダルの窓*/
.circles_modal_window {
  width: 80vw;
  max-width: 700px;
  height: 80vh;
  margin: auto;
  padding: 15px;
  background: #fff;
  z-index: 1;
  overflow-y: hidden;
}

/*モーダル内のコンテンツ*/
.circles_modal_content {
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

/*黒く出てくるやつ*/
.circles_modal_mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

/*閉じるボタン*/
.circles_modal_close {
  z-index: 300;
  position: absolute;
  top: 0;
  right: 10px;
  color: #808080;
  font-size: 1.5rem;
  cursor: pointer;
}

/*閉じるボタンにカーソル*/
.circles_modal_close:hover {
  color: #000;
  transition: all .5s;
}

/* is_openが付与されたらスクロールされないように固定*/
html.is_open, body.is_open {
  overflow: hidden;
}

/*is_openが付与されたらモーダル発動*/
/*モーダル全体がゆっくり不透明になり、完全不透明になったらそのまま*/
.circles_modal_wrapper.is_open {
  animation: circles_modal_wrapper_open .5s ease forwards;
}

/*is_openが付与されたらモーダル発動*/
/*モーダルがゆっくり縦に上から開く*/
.circles_modal_wrapper.is_open .circles_modal_window {
  animation: circles_modal_window_open .5s ease forwards;
}


.cat, .beer, .karaoke{
  width: 60%;
  height: 90%;
}

.photo {
  display: flex;
  margin-bottom: 50px;
}

.guitar {
  width: 50%;
  height: 300px;
}

.violin {
  width: 50%;
  height: 40%;
}

.music {
  height: 80%;
}

.programming {
  width: 55%;
  height: 500px;
}

@keyframes circles_modal_wrapper_open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 300;
  }
}
@keyframes circles_modal_window_open {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

